@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@layer base {
  h1 {
    @apply text-4xl sm:text-5xl;
  }
  h2 {
    @apply text-2xl;
  }
  p {
    @apply text-lg;
  }
}

@layer components {
  .pSmaller {
    @apply text-base;
  }
  .p {
    @apply text-lg;
  }
  .h2 {
    @apply text-2xl;
  }
  .styleIt {
    @apply -mt-[4rem] px-[8vw] md:px-[4vw] pt-[4rem] pb-[20rem] from-primary to-secondary bg-gradient-to-b w-full text-primary-content;
  }
  .titleIt {
    @apply text-center font-bold my-20;
  }
  .titleHomepage {
    @apply font-bold text-center sm:text-left pb-12 pt-12 sm:pt-20 text-primary-content;
  }
}

.background-animation {
  background-size: 400% 400%;
  animation: bg-animation 3s infinite ease-in-out;
}
@keyframes bg-animation {
  0% {
    background-position: 0 30%;
  }
  30% {
    background-position: 80% 80%;
  }
  100% {
    background-position: 0% 30%;
  }
}
